########################################
### THIS FILE IS A TEMPLATE FILE     ###
### DO NOT INSTALL AS-IS             ###
### RUN `make service`               ###
### IT WILL REPLACE THE PLACEHOLDERS ###
########################################

[Unit]
Description=Submit Button Service
After=network.target

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/bin/python3 ${REPO_ROOT}/button.py

StandardOutput=${REPO_ROOT}/kodmaschine.out
StandardError=${REPO_ROOT}/kodmaschine.err

[Install]
WantedBy=multi-user.target
